Repository laportagm/NeuroVis-Repo: changes, and which pre-commit hooks are due for each by the changed paths.
All: gdformat, gdparse, validate-scenes, validate-resources, medical-terms, autoload-usage, performance-checks, accessibility-checks, educational-metadata

gdformat:
  name: Format GDScript files
  entry: .claude/hooks/gdformat-hook.sh
  language: script

gdparse:
  name: Validate GDScript syntax
  entry: .claude/hooks/gdparse-hook.sh
  language: script

validate-scenes:
  name: Validate Godot scene files
  entry: .claude/hooks/validate-scenes.py
  language: python

validate-resources:
  name: Validate Godot resource files
  entry: .claude/hooks/validate-resources.py
  language: python

medical-terms:
  name: Validate medical terminology
  entry: .claude/hooks/validate-medical-terms.py
  language: python

autoload-usage:
  name: Check autoload service usage
  entry: .claude/hooks/check-autoload-usage.py
  language: python

performance-checks:
  name: Check performance annotations
  entry: .claude/hooks/check-performance.py
  language: python

accessibility-checks:
  name: Check accessibility compliance
  entry: .claude/hooks/check-accessibility.py
  language: python

educational-metadata:
  name: Check educational metadata
  entry: .claude/hooks/check-educational-metadata.py
  language: python

fix: Standardize GDScript syntax and improve code quality
  .claude/enhanced_info_panel_v2.gd
  core/ai/AIAssistantService.gd
  core/ai/GeminiAIService.gd
  core/features/FeatureFlags.gd
  core/knowledge/AnatomicalKnowledgeDatabase.gd
  core/knowledge/KnowledgeService.gd
  core/models/ModelVisibilityManager.gd
  core/systems/AccessibilityManager.gd
  core/systems/DebugCommands.gd
  core/systems/StructureAnalysisManager.gd
  tools/scripts/validate_godot4_syntax.gd
  ui/panels/UIThemeManager.gd
Due: gdformat, gdparse, medical-terms, autoload-usage, performance-checks, accessibility-checks, educational-metadata

feat: Add fixed main scene controller
  scenes/main/node_3d_fixed.gd
Due: gdformat, gdparse, medical-terms, autoload-usage, performance-checks, educational-metadata

fix(core): Restore AccessibilityManager and clean up project
  clear_ide_cache.sh
  core/ai/AIIntegrationManager.gd
  core/ai/AIProviderRegistry.gd
  core/ai/AIProviderRegistry_original.gd
  core/ai/config/AIConfigurationManager_original.gd
  core/ai/interfaces/AIProviderInterface.gd
  core/ai/providers/MockAIProvider.gd
  core/systems/AccessibilityManager.gd
  restart_editors.sh
  scenes/main/node_3d.gd
  scenes/main/node_3d_original.gd
  scenes/main/node_3d_updated.gd
  ui/components/controls/AccessibilityHelper.gd
  ui/components/controls/AccessibilityHelper.gd.uid
  ui/components/controls/AccessibilityManager.gd
  ui/components/controls/AccessibilityManager.gd.uid
  ui/components/core/SafeAutoloadAccess.gd
  ui/panels/AccessibilitySettingsPanel.gd
  ui/panels/InformationPanelController_original.gd
  verify_errors_cleared.sh
  verify_file_locations.sh
Due: gdformat, gdparse, medical-terms, autoload-usage, performance-checks, accessibility-checks, educational-metadata

feat(tools): Add performance baseline and autoload verification
  docs/dev/AI_INTEGRATION_FLOW.md
  run_performance_baseline.sh
  tools/scripts/performance_baseline.gd
  tools/scripts/verify_autoloads.gd
  verify_autoloads.sh
  verify_errors_cleared.sh
Due: gdformat, gdparse, medical-terms, autoload-usage, performance-checks, educational-metadata

feat(performance): Implement comprehensive 60fps optimization system
  PERFORMANCE_OPTIMIZATION_REPORT.md
  apply_aggressive_optimizations.sh
  assets/models/lod/Brainstem_lod.cfg
  assets/models/lod/Half_Brain_lod.cfg
  assets/models/lod/Internal_Structures_lod.cfg
  core/ai/interfaces/AIProviderInterface.gd
  core/systems/AutoloadHelper.gd
  core/systems/DynamicQualityManager.gd
  optimize_rendering.sh
  project.godot
  scenes/main/node_3d.gd
  switch_to_mobile_renderer.sh
  tools/scripts/apply_aggressive_optimizations.gd
  tools/scripts/apply_aggressive_optimizations.gd.uid
  tools/scripts/generate_lod_models.gd
  tools/scripts/optimize_3d_rendering.gd
  tools/scripts/optimize_3d_rendering.gd.uid
  tools/scripts/optimize_brain_models.gd
  tools/scripts/optimize_brain_models.gd.uid
  tools/scripts/performance_baseline.gd
  tools/scripts/performance_baseline.gd.uid
  tools/scripts/switch_to_mobile_renderer.gd
  tools/scripts/verify_autoloads.gd
  tools/scripts/verify_autoloads.gd.uid
Due: gdformat, gdparse, medical-terms, autoload-usage, performance-checks, educational-metadata

fix(core): Resolve AutoloadHelper syntax errors and MockAIProvider inheritance
  DEVELOPMENT_SESSION_SUMMARY.md
  core/ai/providers/AIProviderInterface.gd
  core/ai/providers/AIProviderInterface.gd.uid
  core/ai/providers/MockAIProvider.gd
  core/systems/AutoloadHelper.gd
Due: gdformat, gdparse, medical-terms, autoload-usage, performance-checks, educational-metadata

docs: Add optimization status report
  OPTIMIZATION_STATUS.md
Due: medical-terms

refactor(core): Clean up development tools and fix syntax issues
  .gdscript_formatter.cfg
  .vscode/settings.json
  COMPARATIVE_INFO_PANEL_FIX_REPORT.md
  Development Tools/check-code-quality.sh
  Development Tools/format-single-file.sh
  Development Tools/gdscript-validator.py
  core/interaction/BrainStructureSelectionManager.gd
  lint-and-fix.sh
  lint-gdscript.sh
  ui/panels/ComparativeInfoPanel.gd
Due: gdformat, gdparse, medical-terms, autoload-usage, performance-checks, accessibility-checks, educational-metadata

fix: use current directory in syntax fixer
  fix_all_syntax_errors.py
Due: none

Path conditions:
  gdformat: any of: \.gd$ and not (^(addons|\.godot|temp_syntax_check|backups_)/.*) and (?x)^(
  .*\.(gd|tscn|tres|res|cfg|json|md|sh|py)|
  .gitignore|
  .gdignore|
  project\.godot
)$
 and not ((?x)^(
  \.godot/|
  \.import/|
  addons/gut/|
  addons/script-ide/|
  backups_.*?/|
  temp_syntax_check/|
  \.claude/\.venv/|
  \.claude/\.cache/|
  tmp/|
  exports/|
  build/|
  .*\.tmp$|
  .*\.backup$
)
)
  gdparse: any of: \.gd$ and not (^(addons|\.godot|temp_syntax_check|backups_)/.*) and (?x)^(
  .*\.(gd|tscn|tres|res|cfg|json|md|sh|py)|
  .gitignore|
  .gdignore|
  project\.godot
)$
 and not ((?x)^(
  \.godot/|
  \.import/|
  addons/gut/|
  addons/script-ide/|
  backups_.*?/|
  temp_syntax_check/|
  \.claude/\.venv/|
  \.claude/\.cache/|
  tmp/|
  exports/|
  build/|
  .*\.tmp$|
  .*\.backup$
)
)
  validate-scenes: any of: \.tscn$ and not (^(addons|\.godot|temp_syntax_check|backups_)/.*) and (?x)^(
  .*\.(gd|tscn|tres|res|cfg|json|md|sh|py)|
  .gitignore|
  .gdignore|
  project\.godot
)$
 and not ((?x)^(
  \.godot/|
  \.import/|
  addons/gut/|
  addons/script-ide/|
  backups_.*?/|
  temp_syntax_check/|
  \.claude/\.venv/|
  \.claude/\.cache/|
  tmp/|
  exports/|
  build/|
  .*\.tmp$|
  .*\.backup$
)
)
  validate-resources: any of: \.(tres|res)$ and not (^(addons|\.godot|temp_syntax_check|backups_)/.*) and (?x)^(
  .*\.(gd|tscn|tres|res|cfg|json|md|sh|py)|
  .gitignore|
  .gdignore|
  project\.godot
)$
 and not ((?x)^(
  \.godot/|
  \.import/|
  addons/gut/|
  addons/script-ide/|
  backups_.*?/|
  temp_syntax_check/|
  \.claude/\.venv/|
  \.claude/\.cache/|
  tmp/|
  exports/|
  build/|
  .*\.tmp$|
  .*\.backup$
)
)
  medical-terms: any of: \.(gd|md|json)$ and not (^(addons|\.godot|temp_syntax_check|backups_)/.*) and (?x)^(
  .*\.(gd|tscn|tres|res|cfg|json|md|sh|py)|
  .gitignore|
  .gdignore|
  project\.godot
)$
 and not ((?x)^(
  \.godot/|
  \.import/|
  addons/gut/|
  addons/script-ide/|
  backups_.*?/|
  temp_syntax_check/|
  \.claude/\.venv/|
  \.claude/\.cache/|
  tmp/|
  exports/|
  build/|
  .*\.tmp$|
  .*\.backup$
)
)
  autoload-usage: any of: \.gd$ and not (^(addons|\.godot|temp_syntax_check|backups_)/.*) and (?x)^(
  .*\.(gd|tscn|tres|res|cfg|json|md|sh|py)|
  .gitignore|
  .gdignore|
  project\.godot
)$
 and not ((?x)^(
  \.godot/|
  \.import/|
  addons/gut/|
  addons/script-ide/|
  backups_.*?/|
  temp_syntax_check/|
  \.claude/\.venv/|
  \.claude/\.cache/|
  tmp/|
  exports/|
  build/|
  .*\.tmp$|
  .*\.backup$
)
)
  performance-checks: any of: \.gd$ and not (^(addons|\.godot|temp_syntax_check|backups_)/.*) and (?x)^(
  .*\.(gd|tscn|tres|res|cfg|json|md|sh|py)|
  .gitignore|
  .gdignore|
  project\.godot
)$
 and not ((?x)^(
  \.godot/|
  \.import/|
  addons/gut/|
  addons/script-ide/|
  backups_.*?/|
  temp_syntax_check/|
  \.claude/\.venv/|
  \.claude/\.cache/|
  tmp/|
  exports/|
  build/|
  .*\.tmp$|
  .*\.backup$
)
)
  accessibility-checks: any of: ^ui/.*\.gd$ and not (^(addons|\.godot|temp_syntax_check|backups_)/.*) and (?x)^(
  .*\.(gd|tscn|tres|res|cfg|json|md|sh|py)|
  .gitignore|
  .gdignore|
  project\.godot
)$
 and not ((?x)^(
  \.godot/|
  \.import/|
  addons/gut/|
  addons/script-ide/|
  backups_.*?/|
  temp_syntax_check/|
  \.claude/\.venv/|
  \.claude/\.cache/|
  tmp/|
  exports/|
  build/|
  .*\.tmp$|
  .*\.backup$
)
)
  educational-metadata: any of: \.(gd|json)$ and not (^(addons|\.godot|temp_syntax_check|backups_)/.*) and (?x)^(
  .*\.(gd|tscn|tres|res|cfg|json|md|sh|py)|
  .gitignore|
  .gdignore|
  project\.godot
)$
 and not ((?x)^(
  \.godot/|
  \.import/|
  addons/gut/|
  addons/script-ide/|
  backups_.*?/|
  temp_syntax_check/|
  \.claude/\.venv/|
  \.claude/\.cache/|
  tmp/|
  exports/|
  build/|
  .*\.tmp$|
  .*\.backup$
)
)
